{% extends "poster/index.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
	  <!--PAGE TITLE-->

	<div class="row">
		<div class="span12">
		<div class="page-header">
				<h1>
				Contact
			</h1>
		</div>
		</div>
	</div>

  <!-- /. PAGE TITLE-->

  <div class="row">

  		<span class="span6">
  			<div class="container">
            <div class="row">
              <div class="span6" style="position:relative;">
                   
                      <div class="mySlides" data-tooltip="#as">
                        <img class="img-responsive" title="1" src="https://i.scdn.co/image/5f8349e8e4ed81b48f033a9818939c835520f150">
                      </div>

                      <div class="mySlides" data-tooltip="#asf">
                        <img class="img-responsive"  title="2"  src="https://i.scdn.co/image/f8717f432506ab213c4de0c66d6ac24cd07ecf72">
                      </div>


                      <img src="{% static 'poster/img/left.png' %}" class="arrow" style="top:45%;left:0" onclick="plusDivs(-1)"></img>
                      <img src="{% static 'poster/img/right.png' %}" class="arrow" style="top:45%;right:0" onclick="plusDivs(1)"></img>
              </div>

              <div class="span6" style="position:relative;">
                   
                      <div class="mySlides2" data-tooltip="#as">
                        <img class="img-responsive" title="1" src="https://i.scdn.co/image/5f8349e8e4ed81b48f033a9818939c835520f150">
                      </div>

                      <div class="mySlides2" data-tooltip="#asf">
                        <img class="img-responsive"  title="2"  src="https://i.scdn.co/image/f8717f432506ab213c4de0c66d6ac24cd07ecf72">
                      </div>


                      <img src="{% static 'poster/img/left.png' %}" class="arrow" style="top:45%;left:0" onclick="plusDivs2(-1)"></img>
                      <img src="{% static 'poster/img/right.png' %}" class="arrow" style="top:45%;right:0" onclick="plusDivs2(1)"></img>
              </div>
              
            </div>
                    

                      <script>


                          var slideIndex2 = 1;
                          showDivs2(slideIndex2);

                          function plusDivs2(n) {
                            showDivs2(slideIndex2 += n);
                          }

                          function showDivs2(n) {
                            var i;
                            var x = document.getElementsByClassName("mySlides2");
                            if (n > x.length) {slideIndex2 = 1}    
                            if (n < 1) {slideIndex2 = x.length} ;
                            for (i = 0; i < x.length; i++) {
                               x[i].style.display = "none";  
                            }
                            x[slideIndex2-1].style.display = "block";  
                          }

                          var slideIndex = 1;
                          showDivs(slideIndex);

                          function plusDivs(n) {
                            showDivs(slideIndex += n);
                          }

                          function showDivs(n) {
                            var i;
                            var x = document.getElementsByClassName("mySlides");
                            if (n > x.length) {slideIndex = 1}    
                            if (n < 1) {slideIndex = x.length} ;
                            for (i = 0; i < x.length; i++) {
                               x[i].style.display = "none";  
                            }
                            x[slideIndex-1].style.display = "block";  
                          }
                      </script>
        </div>
  		</span>
      <span class="span6"></span>
  </div>

	<script type="text/javascript">
      // THANKS TO http://codepen.io/jmhmd/pen/JdPGgW
      var el = $('#grid-select');
      var cols = 6;
      var rows = 6;

      var clickHandler = function() {
        var target = $(this);
        var cellIndex = target.index() + 1;
        var rowIndex = target.parent().index() + 1;
        if (cellIndex > 2 && rowIndex > 2) {
          // TODO display reason why
          window.location.href = "/spotify_auth?col=" 
              + cellIndex.toString() + "&row=" + rowIndex.toString();
        }
      }

      var table = $('<table>').addClass('layout-select');
      el.append(table);

      for (var i=0; i < rows; i++){
        var row = $('<tr>');
        table.append(row);
        
        for (var j=0; j < cols; j++){
          var cell = $('<td>');
          cell.append($('<div>'));
          row.append(cell);
        }
      }

      function clearHighlight (target) {  
        target.parent().parent().find('div').removeClass('grid-select-active');
      }

      function addHighlight (target){
        var cellIndex = target.index();
        var rowIndex = target.parent().index();
        var rows = target.parent().parent().children();
        
        for (var i=0; i<=rowIndex; i++) {
          $(rows[i])
            .children()
            .eq(cellIndex)
            .prevAll()
            .addBack()
            .find('div')
            .addClass('grid-select-active');
        }  
      }

      table.find('td').on('click', clickHandler);

      table.find('td').on('mouseover', function(){
        var target = $(this);
        addHighlight(target);
      })

      table.on('mouseout', function(){
        var target = $(this);
        clearHighlight(target);
      })
  </script>
</div>
{% endblock %}
