{% extends "poster/setup.html" %}
{% load staticfiles %}

{% block extraform %}
<h3><strong>Time Period</strong></h3>

Time period that Spotify looks back to calculate your favorite artists 
<a href="https://developer.spotify.com/web-api/get-users-top-artists-and-tracks/">
as defined here.
</a>
<br>
<br>
<select name="timeperiod">
  <option value="long_term">Long Term</option>
  <option value="medium_term">Medium Term</option>
  <option value="short_term">Short Term</option>
</select>
<br>

<b>Long term</b> - Data from the last several years. <br>
<b>Medium term</b> - Data from the last six months. <br>
<b>Short term</b> - Data from the last four weeks. <br>

<br>
<select name="type">
  <option value="Album">Album</option>
  <option value="Artist">Artist</option>
</select>

{% endblock %}